
<form action="/mvc/login" method="POST">
    <div class="mb-3">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" aria-describedby="addressHelp" name="address" required>
        <div id="addressHelp" class="form-text">Your address on pulpit</div>
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="chkRemember">
        <label class="form-check-label" for="chkRemember">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>